$black: #151515;
$white: #fff;
$white-smoke: #f2f2f2;
$dark: #000;

$main-brand-color: #F060D6;
$secondary-focus: #4C9FEB;
$faded-highlight: #F1F3F4;

$red: #BB532E;
$blue: #4C9FEB;
$pink: #d81b60;
$orange: #f4511e;
$purple: #3a3db7;
$yellow: #f9b91b;
$whatcolor: #673a65;
$green: #4abd99;

$gray-1: #eee;
$gray-2: #ccc;
$gray-3: #333;
$gray-5: #555;
$gray-9: #fcfcfc;

$color-alpha: #12e09f;
$color-beta: #e01258;
$color-gamma: #f5f5f5;
$color-psi: #1f1f1f;
$color-omega: #fff;
$color-danube: #668DD1;
$color-cornflower: #6195ED;
$color-east-bay: #3A4D6E;

$primary-border: #888;
$light-green: #98FB98;
$fire-brick-red: #B22222;
$dove-gray: #666;
