@import './variables.scss';

@font-face {
	font-display: swap;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Work Sans'), local('Work-Sans'),
}


body {
    -webkit-font-smoothing: antialiased;
	margin: 0;
    text-rendering: optimizeLegibility;
}

.header {
    background-color: $bokara-grey;
}

.header-links {
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1042px;

	.logo {
		left: 50%;
		margin: 10px 0 14px;
		position: relative;
		transform: translateX(-50%);
	}

	.sign-in {
		color: $white;
		font: 14px/1 $font-sans;
		letter-spacing: 0.5px;
		text-decoration: none;
	}
}

.container {
	margin: 0 auto;
	max-width: 1120px;
	padding: 0 16px;
}

footer.sticky-footer {
	padding: 2rem 0;
	flex-shrink: 0;
	.copyright {
		line-height: 1;
		font-size: 0.8rem;
	}
}

body.sidebar-toggled {
	footer.sticky-footer {
		width: 100%;
	}
}