// Colors
$black-russian: #0A0E1A;
$bokara-grey: #181716;
$dark-shade: rgba(0,0,0,0.2);
$dark-silver: #C5C5C5;
$fern: #5AB963;
$silver-gray: #8C8C8C;
$quick-silver: #a2a2a2;
$lightgray: #d3d3d3;
$medium-gray: #BBBBBB;
$gray: #7C7C7C;
$red: #FF0000;
$royal-blue: #4285F4;
$silver: #BBB;
$snow: #FAFAFA;
$swamp: #212424;
$white: #FFFFFF;
$white-smoke-1: #F1F1F1;
$white-smoke-4: #F4F4F4;
$white-smoke-7: #F7F7F7;
$white-smoke-8: #FCFCFC;
$gray-80: #CCCCCC;

$font-sans: sans-serif;

