title="Admin Dashboard"

meta(charset="UTF-8")
meta(http-equiv="Content-Language", content="en_US")
link(rel="shortcut icon", href="")
link(rel="canonical" href="")
meta(name="viewport", content="width=device-width,initial-scale=1")
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="author" content="")

meta(property="og:title" content="")
meta(property="og:site_name" content="")
meta(property="og:type" content="")
meta(property="og:url" content="")
meta(property="og:image" content="" name="image")
meta(property="og:description" content="")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="")
meta(name="twitter:creator" content="")
meta(name="twitter:title" content="")
meta(name="twitter:description" content="")
meta(name="twitter:image" content="")

style(type="text/css")!=styles
